# 의존성 파일
/node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnp.*

# 빌드 파일
/.next/
/out/
/build

# 테스트 파일
/coverage

# 환경 변수 파일
.env*

# 시스템 파일
.DS_Store
.vscode

# TypeScript 파일
*.tsbuildinfo
next-env.d.ts

# 로그 파일
yarn-debug.log*
yarn-error.log*
*storybook.log

# 인증서 파일
certificates